:root {
  /*   Переменніе для body   */
  --font-family-main: 'Roboto', sans-serif;
  --color-text-main: #757575;
  /* --font-family-secondary: 'Raleway', sans-serif; */
  --color-bgd-main: #ffffff;
  /* -------------------- */
  --color-logotype: #2196f3;
  --color-logotipe-accent-footer: #ffffff;
  --color-menu-link: #212121;
  --color-menu-link-hover: #2196f3;

  --color-text-hero: #ffffff;

  --color-btn-main: #2196f3;
  --color-btn-main-hover: #188ce8;
  --color-btn-text-main: #ffffff;

  --color-bgd-team: #f5f4fa;
  --color-fill-icon: #afb1b8;
  /*------------------Footer------------ */
  --color-bgd-secondary: #2f303a;
  --color-footer-adress-link: #ffffff;
  --color-footer-adress-link-hover: #2196f3;
  --color-footer-contacts-link: rgba(255, 255, 255, 0.6);
  /*    portfolio      */
  --text-btn: #212121;
  --color-btn: #f5f4fa;
  --text-btn-hover: #ffffff;
  --color-btn-hover: #2196f3;

  /* --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============сброс стилей============== */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/* ======================================== */

body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
/* ==================header============ */
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logotipe {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logotype);
  margin-right: 93px;
}
.logotipe-accent {
  color: #212121;
}

.logotipe-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logotype);
}

.logotipe-accent-footer {
  color: var(--color-logotipe-accent-footer);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  position: relative;

  transition: color 250ms var(--cubic-bezier);
  /* display: block; */
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--color-menu-link);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-btn-main-hover);
}

/* ----------Оформление нижнего подчеркивания-------- */
.menu-link.line-down {
  color: var(--color-btn-main-hover);
}

.line-down::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-btn-main-hover);
}
/* ----------END-------- */

.list {
  list-style: none;
}

.connection-list {
  display: flex;
  align-items: center;
}

.connection-link {
  transition: color 250ms var(--cubic-bezier);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--color-text-main);
}

.connection-link:hover,
.connection-link:focus {
  color: var(--color-menu-link-hover);
}

.connection-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ==========START PORTFOLIO========== */

/* ==================main============ */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-photo.jpg);
  background-color: #c4c4c4;
  background-size: cover;
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-hero);
  margin-bottom: 30px;
}

.button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background: var(--color-btn-main);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  min-width: 140px;
  padding: 10px 32px;

  transition: background-color 250ms var(--cubic-bezier);
}

.button:hover,
.button:focus {
  background-color: var(--color-btn-main-hover);
}

.text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-btn-text-main);
}

.text-button:hover,
.text-button:focus {
  color: var(--color-btn-text-main);
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.futures-icons-box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-bgd-team);
}

/* ================ чем мы занимаемся ============ */
.future-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-menu-link);
}

.future {
  margin-top: 10px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.secondary-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
}

/* ========== START FLEX ACTIVITY ========== */

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity.section {
  padding-top: 0px;
}
/* delite */
.activity {
  padding-top: 0px;
}
/*  */

.service-list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.service-header {
  position: absolute;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  width: 100%;
  height: 70px;
  color: var(--color-bgd-main);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(10, 11, 15, 0.8));

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/*===============  наша команда  ===============*/

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item-foot {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: var(--color-bgd-team);
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
}

.team-item-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  background-color: var(--color-bgd-main);
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-fill-icon);

  /* transition-property: background-color; */
  transition: background-color 250ms var(--cubic-bezier);
}

.social-list {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 10px;
}

.social-list-icon {
  fill: currentColor;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-logotype);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--color-logotipe-accent-footer);
}

/* ===================Постоянные клиенты ============*/

.clients {
  display: flex;
  margin-left: -30px;
}

.clients-item {
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-link {
  display: flex;
  border: 1px solid var(--color-fill-icon);
  border-radius: 4px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: var(--color-fill-icon);

  /* transition-property: border, color; */
  transition: color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--color-logotype);
  color: var(--color-logotype);
}

/* ================ footer ================== */

.footer {
  background-color: var(--color-bgd-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  font-style: normal;
  margin-top: 20px;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  flex-grow: 1;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-footer-adress-link);
  margin-right: 70px;
  transition: color 250ms var(--cubic-bezier);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--color-footer-adress-link-hover);
}

.footer-post-adress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-btn-text-main);
  transition: color 250ms var(--cubic-bezier);
}

.footer-post-adress:hover,
.footer-post-adress:focus {
  color: var(--color-footer-adress-link-hover);
}

.footer-adress-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-footer-contacts-link);
  transition: color 250ms var(--cubic-bezier);
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--color-footer-adress-link-hover);
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-join {
  display: block;
  margin-bottom: 20px;
  color: var(--color-bgd-main);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* .footer-join {
  display: block;
  width: 570px;
  margin-left: 93px;
} */

.footer-subscribe-icon {
  height: 20px;
  fill: white;
}

.subscribe-block {
  display: block;
  width: 570px;
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.email-footer {
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  width: 358px;
  padding: 15px 15px 15px 15px;
  margin-right: 12px;

  color: var(--color-bgd-main);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.email-footer:hover,
.email-footer:focus {
  border-color: var(--color-menu-link-hover);
}

/* .button-footer {
 
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--color-btn-main);
  margin-left: 12px;
  border: transparent;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic-bezier);
} */
/* .button-footer:hover,
.button-footer:focus {
  background: var(--color-btn-main-hover);
} */
/* ================ Portfolio ================== */

.filters-btn {
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-btn);
  background-color: var(--color-btn);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
  /* transition-property: transform;
  transition: var(--transition-dur-and-func); */
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--color-btn-hover);
  color: var(--text-btn-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title-h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-menu-link);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-main);
}

.filters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filters-item {
  margin-right: 8px;
}

.filters-item:last-child {
  margin-right: 0px;
}
.drafts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.drafts-item {
  box-sizing: border-box;
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.drafts-box {
  max-width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/*   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
/* -----------------Всплывающие окна------------ */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* left: 239px;
  top: 323px; */
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  /* translate(0, 100%); */
  /* transition-property: transform; */
  transition: transform 250ms var(--cubic-bezier);
}

.work-list-thumb {
  position: relative;
  /* display: block; */
  overflow: hidden;
}

.work-list-link {
  /* position: relative; */
  display: block;
}

.work-list-link:hover .overlay,
.work-list-link:focus .overlay {
  transform: translatey(0);
}

.work-list-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  display: block;
}
.work-list-link:hover,
.work-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .drafts-item:hover .overlay,
.drafts-item:focus .overlay {
  transform: translatey(0);
} */

/* -------------Модальное окно------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* opacity: 1; */
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #afb1b8;
  padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--color-btn-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-form-title {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);

  margin-bottom: 12px;
}

.main-form-label {
  color: var(--color-text-main);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.modal-input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  /* color: var(--color-bgd-secondary); */
  /* background-color: transparent; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  /* outline: none; */
  min-height: 40px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--color-btn-hover);
}

.main-form-list-item {
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  display: flex;
  flex-direction: column;
  color: #000;
}

.main-form-list-item:hover,
.main-form-list-item:focus-within {
  color: var(--color-btn-main-hover);
}

.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 15px;
  fill: currentColor;
}

.main-form-list-item:not(:last-child) {
  margin-bottom: 10px;
}
